<h1>Read and write to the SQL DB</h1>

<h3>Notes</h3>
<div>
    <button class="btn btn-primary" ng-click="dc.getAllNotes()">Get all notes</button>
    <div ng-if="dc.notes.length > 0">
        <table>
            <tr>
                <th>Id</th>
                <th>Note</th>
            </tr>
            <tr ng-repeat="note in dc.notes">
                <td>{{note.id}}</td>
                <td>{{note.note}}</td>
            </tr>
        </table>
    </div>
</div>

<div>
    <button class="btn btn-primary" ng-click="dc.getNoteById()">Get this note</button>
    <input type="text" ng-model="dc.GetByIdId">
    <textarea rows="4" cols="50" ng-model="dc.GetByIdNote"></textarea>
    <button class="btn btn-success" ng-click="dc.saveNote()" ng-if="dc.GetByIdLoaded">Save</button>
</div>

<div>
    <textarea rows="4" cols="50" ng-model="dc.CreateNote"></textarea>
    <button class="btn btn-success" ng-click="dc.createNote()">Create note</button>
</div>